/* 
autoher:nitesh mishra
theme:food order website
version;1.0 */
*{
    margin:0;
    padding: 0;
font-family: Arial, Helvetica, sans-serif;
    
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin:0 auto ;
    
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width :100%;
}
.tbl-30{
    width :30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: rgb(58, 58, 214);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: aqua;
} 

.btn-sec{
    background-color: rgb(40, 141, 102);
    padding: 1%;
    color:black;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-sec:hover{
    background-color: rgb(15, 114, 40);
}
.btn-danger{
    background-color: rgb(200, 89, 89);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-danger:hover{
    background-color: rgb(168, 26, 26);
}
.success{
    color: blueviolet;
}
.error{
    color: aqua;
}

/* menusection */
 
  .menu{
  

    border-bottom: 1px solid grey;
}
.menu ul {
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
} 
.menu ul li a:hover{
    color: blueviolet;
} 
/* cssmaincontent */
.main-content{
    background-color: rgb(229, 229, 229);
    padding:3% 0 ;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/*css footersection */
 
 .footer{
    background-color: brown; 
   color: white;
} 
/* css for login */
.login{
    border:1px solid grey;
    width: 20%;
margin: 10% auto;
padding:2% ;
}